extends layout

block content
    .inner
        h2= title
        .map
            .autocoplete
                input.autocoplete__input(type='text' placeholder='search for anything'
                name='geolocate')
            #map
                p Loading Map...